#Panel1 {
    position: fixed;
}

#Image1 {
    position: fixed;
    margin-right: 15px;
    margin-left: 15px;
    top: 14px;
    left: 12px;
    width: 62px;
    height: 58px;
}

.teacher-home-image {
    position: fixed;
    height: 464px;
    width: 994px;
    top: 86px;
    left: 278px;
}

#TeacherWelcome {
    position: fixed;
    top: 99px;
    left: 323px;
    height: 503px;
    width: 967px;
}

#TeacherUser {
    position: fixed;
    top: 90px;
    left: 460px;
    color: #47D466;
}

#TeacherWelcomeLabel {
    position: fixed;
    top: 89px;
    left: 274px;
    height: 45px;
    width: 180px;
    color: #D44747;
}

#LogoutDropDown {
    position: fixed;
    top: 35px;
    left: 1211px;
}

#UserIcon {
    position: fixed;
    top: 26px;
    left: 1137px;
    height: 40px;
    width: 40px;
    right: 108px;
}

#Label1 {
    position: fixed;
    top: 20px;
    left: 105px;
}

#NavPanel {
    position: fixed;
}

#HomeIcon {
    position: fixed;
    top: 88px;
    left: 38px;
    width: 44px;
    height: 43px;
}

#TeacherHomeLabel {
    position: fixed;
    top: 98px;
    left: 158px;
    height: 28px;
    width: 54px;
    text-align: center;
    color: #B03E3E;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#SetGradesIcon {
    position: fixed;
    width: 48px;
    top: 149px;
    left: 37px;
    height: 45px;
}

#SetGradesLabel {
    position: fixed;
    text-align: center;
    color: #B03E3E;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 156px;
    left: 113px;
    right: 1109px;
}

#RecordsIcon {
    position: fixed;
    top: 212px;
    left: 39px;
    right: 1203px;
    height: 43px;
}

#RecordsHL {
    position: fixed;
    text-align: center;
    color: #B03E3E;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 223px;
    left: 141px;
    width: 91px;
    right: 1053px;
}

.teacher-home-image {
    position: fixed;
    height: 520px;
    width: 966px;
    top: 77px;
    left: 318px;
}

#TCWelcomeALabel {
    position: fixed;
    top: 96px;
    left: 580px;
    color: #B03E3E;
}

#TeacherUser {
    position: fixed;
    color: #47D466;
    top: 80px;
    left: 498px;
    width: 342px;
}

#TeacherWelcomeLabel {
    position: fixed;
    top: 79px;
    left: 323px;
    height: 45px;
    width: 180px;
    color: #D44747;
    right: 782px;
}

#form1 {
    height: 583px;
    margin-bottom: 0px;
}

.nav-tree-view {
    height: 379px;
    width: 254px;
}

.teacher-side-bar {
    position: fixed;
    top: 76px;
    left: -7px;
    height: 524px;
    width: 321px;
}
